=============== 
Unity generated
===============
Temp/
Library/
Assets/TinySamples

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

===========
Build
===========
Bin/
bin/

===========
DLL
===========
!Assets/*/*.dll
!*.obj